@import "tailwindcss";

@theme {
  --font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-muted: var(--muted);
}

body {
  background-color: var(--background);
  /*@apply bg-gradient-to-b from-accent to-muted*/
}

:root {
  --background: oklch(98.89% 0.004 286.33);
  --primary: oklch(42.72% 0.239 271.91);
  --secondary: oklch(97.55% 0.005 258.32);
  --accent: oklch(54.04% 0.092 195.74);
  --text: oklch(32.11% 0.000 89.88);
  --muted: oklch(10.11% 0.000 89.88);
}

.dark {
  --background: oklch(7.30% 0.018 280.91);
  --primary: oklch(45.61% 0.240 273.72);
  --secondary: oklch(12.71% 0.009 253.66);
  --accent: oklch(92.78% 0.113 195.38);
  --text: oklch(84.52% 0.000 89.88);
  --muted: oklch(100% 0.000 89.88);
}